html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  
  .nav-color {
    background-color: darkgray;
    transform: all ease-in-out 0.5s;
  }
  
  .bg-transparent {
    transform: all ease-in 0.3s;
  }
  
  .banner {
    background: url("../img/head.png") no-repeat center center;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 10%;
    color: #fff;
  }
  
  .nav-item a {
    font-size: 1.1vw;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 5px;
  }
  
  .navbar {
    content: "";
    display: block;
    border-bottom: 0.1rem solid white;
  }
  
  main {
    background: url("../img/bg-main.png") no-repeat center center;
    background-size: cover;
  }
  
  .btn-danger {
    background-color: #fe0000;
  }
  
  #about-us {
    background: url("../img/bg-footer.png") no-repeat center center;
    background-size: cover;
  }
  
  .list-group {
    list-style-type: circle;
  }
  .list-group-item {
    border: none;
    padding: 0;
  }
  

  .footer {
    background: linear-gradient(to right, #808080, #D3D3D3); /* Gradien abu-abu */
    padding: 40px 0;
    color: #fff; /* Putih */
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    text-align: center;
}

.footer-logo {
    width: 150px; /* Penyesuaian ukuran logo */
    margin-bottom: 20px;
}

.footer-left p {
    max-width: 300px;
    margin: auto;
}

.footer-center nav {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-center nav a {
    color: #fff; /* Putih */
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-center nav a:hover {
    color: #ff0000; /* Merah saat hover */
}

.footer-right .social-icons a {
    width: 30px;
    margin-right: 15px;
    font-size: 30px;
    color:black;
}

.footer-right form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    max-width: 250px;
    margin-right: 10px;
}

.footer-right form button {
    padding: 10px 20px;
    background-color: #ff0000; /* Merah */
    border: none;
    border-radius: 5px;
    color: #fff; /* Putih */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-right form button:hover {
    background-color: #cc0000; /* Lebih gelap saat hover */
}

.footer-copyright {
  background-color: #000; /* Hitam */
  padding: 5px 0;
  color: #fff; /* Putih */
  text-align: center;
  width: 100%;
  position: absolute;
}

